.artisan-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.artisan-picture {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 590px) {
  .artisan-header {
    flex-direction: column;
    align-items: center;
  }
}