.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(25% - 1em);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  gap: 15px;
  /* height: 420px; */
}

.card-body {
  padding: 0px 15px;
}

.product-picture {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  margin-top: 50px;
}