header.main {
  padding: 0;
  margin: 0;
}

header.main nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px
}

header.main nav a {
  padding: 30px 15px;
  transition: all 300ms ease-in-out;
  border-radius: 8px;
}

header.main nav a:hover {
  background-color: beige;
}